<header>
	<h1 class="logo">Campbell Ink <img src="images/ink_logo215.png" alt="ink bottle" width="60" height="60"></h1>	
	<nav>
		<ul>
			<li><a href="https://rocky-reef-02138.herokuapp.com/" target="_blank">Web App</a></li>
			<li><a href="contract210.html" target="_blank">Contract</a></li>
			<li><a href="https://github.com/gcampbell451" target="_blank">GitHub</a></li>
			<li><a href="https://gcampbell451.github.io/web115/index.html" target="_blank">GitHub Pages</a></li>
			<li><a href="https://www.codecademy.com/profiles/gcampbe2" target="_blank">Codecademy</a></li>
			<li><a href="https://www.khanacademy.org/profile/gcampbe2/" target="_blank">Khan Academy</a></li>
			<li><a href="https://www.freecodecamp.org/gcampbe2" target="_blank">FreeCodeCamp</a></li>
			<li><a href="https://jsfiddle.net/user/gcampbe2/fiddles/" target="_blank">JSFiddle</a></li>
			<li><a href="https://profile.edx.org/u/gcampbell451" target="_blank">EdX</a></li>
			<li><a href="https://www.linkedin.com/in/gregory-campbell-27b496162/" target="_blank">LinkedIn</a></li>
		</ul>							
	</nav>	
</header>