<nav>			
	<a href="http://students.cpcc.edu/~gcampbe2" target="_blank">Webspace</a> 
	<a href="contract.html" target="_blank">Contract</a>
	<a href="https://github.com/gcampbell451" target="_blank">GitHub</a>
	<a href="https://gcampbell451.github.io/web115/introduction.html" target="_blank">GitHub Pages</a>
	<a href="https://www.codecademy.com/profiles/gcampbe2" target="_blank">Codecademy</a>
	<a href="https://www.khanacademy.org/profile/gcampbe2/" target="_blank">Khan Academy</a> 
	<a href="https://www.freecodecamp.org/gcampbe2" target="_blank">FreeCodeCamp</a>
	<a href="https://jsfiddle.net/user/gcampbe2/fiddles/" target="_blank">JSFiddle</a>		
	<a href="https://profile.edx.org/u/gcampbell451" target="_blank">EdX</a>
	<a href="https://www.linkedin.com/in/gregory-campbell-27b496162/" target="_blank">LinkedIn</a>			
</nav>