<footer>	    	
	Designed by Campbell Ink &copy; 2021<br><br> 
    <span>  
    <a href = "https://validator.w3.org/check?uri=" id = "validation_link_html" class="htmlbutton">W3C HTML</a>&nbsp;&nbsp;
    <a href = "https://jigsaw.w3.org/css-validator/check/referer?uri=" id = "validation_link_css" class="cssbutton">W3C CSS</a>
    </span>
    <br><br><a href="#">Back To Top</a>
    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>