<header>
    <div class="logo">
        <a href="https://gcampbell451.github.io/web250/index.html"><img class="transparent" src="images/guitar_logo_small.png" alt="Image courtesy of nicepng.com"></a>
    </div>
    <h1 class="logo">Axes, Et cetera</h1>
    <p class="tagline center">One man's trash is another man's Trea$ure!</p>
    <div id="headernav">
        <nav>
            <a href="" onclick="load_home(event, 'pages/introduction.html')">Introduction</a> |
            <a href="" onclick="load_home(event, 'pages/contract.html')">Course Contract</a> |
            <a href="" onclick="load_home(event, 'pages/brand.html')">Brand Page</a> |
            <a href="" onclick="load_home(event, 'pages/samsusedcars.html')">Sam's Used Cars</a>
        </nav>
    </div>
</header>