<nav>			
	<a href="https://github.com/gcampbell451" target="_blank">GitHub</a>
	<a href="https://gcampbell451.github.io/web250/index.html" target="_blank">GitHub.io</a>
	<a href="https://gcampbell451.github.io/web250/index.html" target="_blank">web250</a>
	<a href="https://www.freecodecamp.org/gcampbe2" target="_blank">FreeCodeCamp</a>
	<a href="https://www.codecademy.com/profiles/gcampbe2" target="_blank">Codecademy</a> 
	<a href="https://jsfiddle.net/user/gcampbe2/fiddles/" target="_blank">JSFiddle</a>		
	<a href="https://www.linkedin.com/in/gregory-campbell-27b496162/" target="_blank">LinkedIn</a>			
</nav>
