<footer>	    
	<span>No problem too small, no solution too big!</span><br><br>	
	Designed by Campbell Ink &copy; 2020<br><br>
    <button class = "htmlbutton" onclick = "window.location.href='https://validator.w3.org/check?uri=';" id = "validation_link_html" title="Validate">W3C HTML5</button>       
	<button class = "cssbutton" onclick = "window.location.href='https://jigsaw.w3.org/css-validator/check/referer?uri=';" id = "validation_link_css" title="Validate">W3C CSS</button>   
    <a href = "https://validator.w3.org/check?uri=" id = "validation_link_html">validate html</a> **
    <a href = "https://jigsaw.w3.org/css-validator/check/referer?uri=" id = "validation_link_css">validate css</a>

</footer>