<footer>	    
	<span>No problem too small, no solution too big!</span><br><br>	
	Designed by Campbell Ink &copy; 2020<br><br>
	<a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fbtramme0.github.io%2Fweb115%2Fbrand" style="text-decoration:none;">
		<img style="width:88px;height:31px" src="https://btramme0.github.io/web115/images/button_html5_yellow.gif" alt="Valid html button"></a>
	<a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fbtramme0.github.io%2Fweb115%2Fbrand&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en" style="text-decoration:none;">
		<img style="width:88px;height:31px" src="https://btramme0.github.io/web115/images/button_css_blue.gif" alt="Valid CSS!"></a>
 </footer>