*, *::before, *::after { box-sizing: border-box; }
html {
    font-size: 16px;
}

/*
Table of Contents
1. CSS Variables/Brand Colors
2. Header/Nav
3. Components
4. Elements
5. Media Queries

*/


/* 1. CSS Variables/Brand Colors/Fonts */
:root {
    --bgcolor: hsl(45, 35%, 43%);
    --color1: hsl(215, 89%, 14%); 
    --color2: hsl(215, 89%, 24%);
    --color3: hsl(330, 12%, 90%);
    --tarheel: hsl(211, 50%, 73%);
    --logofontfam: Magneto, serif;;
    --textfontfam: arial, sans-serif;
    --hnfontfam: Georgia, serif;
}

/* 2. Header/Nav */

header  {
    background-color: var(--bgcolor);
    font-family: var(--logofontfam);
    font-size: 2em;
    height: max-content;
}

.logo {
    font-family: var(--logofontfam);
    color: var(--color1);
}

nav {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

nav a {
	text-decoration: none;
	position: relative;
}

nav ul li {
	color: var(--color2);
}

a:link  {
	color: var(--color2); 
	text-decoration: underline;
}

a:visited  {color: var(--color1); 
	text-decoration: none;
}

a:hover,
a:focus  {
	color: var(--color3); 
	text-decoration: underline;
}

nav a:link  {
	color: var(--color2); 
	text-decoration: none;
	font-size: 1.2em;
}

nav a:visited  {
	color: var(--color1); 
	text-decoration: none;
}

nav a:hover,
nav a:focus  {
	text-decoration: underline;

}

.nav_div {
	height: 2em;
}

/* 3. Components */

/* These classes are for the validation buttons */
.htmlbutton  {
	color: var(--bgcolor);
	background-color: var(--color1);
	border: 1px solid var(--color3);
	border-radius: 12px;
	padding: 5px 5px;
}

.htmlbutton:hover,
.htmlbutton:focus  {
	color: var(--color1);
	background-color: var(--bgcolor);
	border: 1px solid var(--color3);
}

.cssbutton  {
	color: var(--bgcolor);
	background-color: var(--color2);
	border: 1px solid var(--color3);
	border-radius: 12px;
	padding: 5px 12px;
}

.cssbutton:hover,
.cssbutton:focus  {
	color: var(--color2);
	background-color: var(--bgcolor);
	border: 1px solid var(--color3);
}

.htmlbutton:active,
.cssbutton:active  {
    position: relative;
    top: 3px;
}

/* 4. Elements*/

body  {  
    font-family: var(--textfontfam);
    color: var(--color1);
    background-color: var(--bgcolor);		
	margin: 0;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5em;
    /* Remove the scrollbar for Chrome*/	
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
/* Remove the scrollbar for Firefox*/
body::-webkit-scrollbar {
	display: none;
}

h1  {
	color: var(--color1);
}

main  {
	background-color: var(--bgcolor);
	padding-left: 5px;	
}

figcaption  {
	text-align: center;
	font-style: italic;
	font-size: 90%;	
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.list-item {
	color: var(--color2);
}

.no_bullet {
	list-style-type: none;
}

footer  {
	text-align: center;
	font-size: 90%;
	color: var(--color1);
	background-color: var(--bgcolor);
	margin-top: 40px;
	clear: both;
	border-top: 3px solid var(--color3);
	padding-top: 30px;
}
footer span  {
	font-size: 110%;
	font-style: italic;
	color: #003594;
}

.toc_li  {
    line-height: 1.5em;
}

.toc_li a {
    text-decoration: none;
    color: var(--color1);
    margin: .5em;
}

.toc_li a:hover,
.toc_li a:focus {
    background-color: var(--tarheel);
    padding: .3em;
    border: 1px solid var(--color1);
    border-radius: 10px;
}

#toc_h2 {
	margin-top: 1em;
	border-top: 3px solid var(--color3);
	padding: 1em;
}
/* 5. Media Queries*/

